<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <!-- Иконка для вкладки браузера (путь-заглушка) -->
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <!-- Мета-тег для корректного отображения на мобильных устройствах -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Название проекта во вкладке браузера -->
    <title>BeeAI - BI-аналитика с ИИ</title>
    <script type="module" crossorigin src="/assets/index-DaafOwuF.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-DlYl4LvL.css">
  </head>
  <body>
    <!-- 
      Это корневой элемент, в который Vue.js смонтирует всё наше приложение. 
      Всё содержимое сайта (шапка, подвал, страницы) будет рендериться внутри этого div.
    -->
    <div id="app"></div>

    <!-- 
      Сюда сборщик проекта (например, Vite) автоматически подключит скомпилированный 
      JavaScript-код вашего приложения.
    -->
  </body>
</html>
